<!-- site info -->
<div class="mb-5 container-fluid">
    <hr>
    <p>3조 미니프로젝트 ⓒ2023 MATZIP찾기 | <a href="https://guide.michelin.com/kr/ko">미쉐린 가이드</a> | <a href="https://www.bluer.co.kr/">블루리본 서베이</a></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>